name: C/C++ CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest  # ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        compiler: [ gcc-10 ]
        include:
          - os: ubuntu-latest
            compiler: gcc-10
            target: Linux

          - os: windows-latest
            compiler: gcc-10
            target: Windows

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Install requirements
        run: sudo apt install -y libgl1-mesa-dev libglu1-mesa-dev libglfw3-dev xorg-dev cmake ninja-build gcc-10
        
      - name: Build
        run: mkdir build; cd build; cmake .. -GNinja; ninja

      - name: Upload a Build Artifact
        if: ${{ matrix.os == 'windows-latest' }}
        uses: actions/upload-artifact@v3.1.0
        with:
          name: build\Unnamedgame.exe
          path: build\Unnamedgame.exe

      - name: Upload a Build Artifact
        if: ${{ matrix.os == 'ubuntu-latest' }}
        uses: actions/upload-artifact@v3.1.0
        with:
          name: build/Unnamedgame
          path: build/Unnamedgame
